@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
  --white: rgb(238, 236, 235);
  /* --foreground: rgb(223, 223, 223); */
  --font: 'Roboto', sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
  color: rgb(22, 22, 22);
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--white);
  overflow: hidden;
}

.clock-pane {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  /* margin-bottom: 40px; */
  height: 70vh;
  width: 80vw;
  /* padding: 50px; */
  flex-wrap: wrap;
  /* background-color: red; */
  overflow-x: auto;
  overflow-y: hidden;
}
